.baiviet-detail{
    margin-top: 50px;
}

.g-detail{
    display: flex;
    justify-content: space-between;
    .title-baiviet{
        font-size: 24px;
        font-weight: bold;
        color: var(--color-main);
        text-transform: capitalize;
        width: 80%;
        max-width: 80%;
    }
    .time-baiviet{
        font-style: italic;
        color: #7b7979;
    }
}

.noidung{
    font-family: roboto;
    // trả về mặc định
    ul { 
        list-style-type: disc; 
        list-style-position: inside; 
     }
     ol { 
        list-style-type: decimal; 
        list-style-position: inside; 
     }
     ul ul, ol ul { 
        list-style-type: circle; 
        list-style-position: inside; 
        margin-left: 15px; 
     }
     ol ol, ul ol { 
        list-style-type: lower-latin; 
        list-style-position: inside; 
        margin-left: 15px; 
     }
     em{
        font-style: italic !important;
     }
}

.br-home{
    &:hover{
        cursor: pointer;
        color: var(--color-main);
    }
}
.breadcrumb-ov{
    font-size: 18px !important;
    
}