:root{
    --color-main: #2124b1; //#0984e3
}
#b-5324 {
    height: 400px;
    position: relative;
    .bg-banner {
        // background-image: url('../assets/banner-bg/home.jpeg');
        // background-position: bottom;
        // background-repeat: no-repeat;
        // background-size: cover;
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.802);
    }

    .bg-banner_content {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);

        &_left {
            font-family: 'roboto';
            font-size: 20px;
            margin: auto;
            .h3-1 {
                color: #f8f8f8;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .h3-2 {
                color: #f99b1c;
                margin-bottom: 20px;
                font-weight: 600;
            }
            .h3-3 {
                color: #f8f8f8;
                font-weight: 600;
                margin-bottom: 20px;
                max-width: 495px;
                line-height: 1.5;
            }
            .tuvan {
                color: #f8f8f8;
                font-weight: 600;
                padding: 12px 20px;
                background-color: var(--color-main);
                border-radius: 10px;
                width: fit-content;
                text-transform: uppercase;
                font-size: 16px;
                cursor: pointer;
            }
        }
        &_right {
            padding: 30px;
           
            .group-right {
                width: 100%;
                height: 100%;
               
                position: relative;
               
                &:hover {
                    transform: translateY(-5px);
                    box-shadow:
                        rgba(0, 0, 0, 0.25) 0px 54px 55px,
                        rgba(0, 0, 0, 0.12) 0px -12px 30px,
                        rgba(0, 0, 0, 0.12) 0px 4px 6px,
                        rgba(0, 0, 0, 0.17) 0px 12px 13px,
                        rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    transition: 0.5s;
                }
            }
            img {
                width: 100%;
                height: 100%;
               
                object-fit: cover;
                border-radius: 5px;
            }
            svg {
                cursor: pointer;
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .glightbox_video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .outer_circle {
                stroke-width: 3;
                stroke-dasharray: 410;
                stroke-dashoffset: 0;
                stroke-linecap: square;
                transition: all 0.4s ease-out;
            }

            .glightbox_video:hover .outer_circle {
                stroke-dashoffset: 410;
                transition:
                    stroke 0.7s 0.4s ease-out,
                    stroke-dashoffset 0.4s ease-out;
            }

            .glightbox_video:hover .inner-circle {
                fill: #bf2428;
                transition: fill 0.4s 0.3s ease-out;
            }

            .glightbox_video:hover .play {
                fill: white;
                transition: fill 0.4s 0.3s ease-out;
            }
        }
    }
}