:root {
    --color-red: #cf2e2e;
    --color-orange: #ff9900;
}

#b-5324 {
    height: 400px;
    position: relative;
    .bg-banner {
        background-image: url('../assets/banner-bg/home.jpeg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.802);
    }

    .bg-banner_content {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);

        &_left {
            
            font-family: 'roboto';
            font-size: 20px;
            .h3-1 {
                color: #f8f8f8;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .h3-2 {
                color: #f99b1c;
                margin-bottom: 20px;
                font-weight: 600;
            }
            .h3-3 {
                color: #f8f8f8;
                font-weight: 600;
                margin-bottom: 20px;
                max-width: 495px;
                line-height: 1.5;
            }
            .tuvan {
                color: #f8f8f8;
                font-weight: 600;
                padding: 12px 20px;
                background-color: #c71313;
                border-radius: 10px;
                width: fit-content;
                text-transform: uppercase;
                font-size: 16px;
                cursor: pointer;
            }
        }
        &_right {
            padding: 0 30px;

            .group-right {
                width: 465px;
                height: 213px;
                position: relative;
                cursor: pointer;
                &:hover {
                    transform: translateY(-5px);
                    box-shadow:
                        rgba(0, 0, 0, 0.25) 0px 54px 55px,
                        rgba(0, 0, 0, 0.12) 0px -12px 30px,
                        rgba(0, 0, 0, 0.12) 0px 4px 6px,
                        rgba(0, 0, 0, 0.17) 0px 12px 13px,
                        rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    transition: 0.5s;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            svg {
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .glightbox_video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .outer_circle {
                stroke-width: 3;
                stroke-dasharray: 410;
                stroke-dashoffset: 0;
                stroke-linecap: square;
                transition: all 0.4s ease-out;
            }

            .glightbox_video:hover .outer_circle {
                stroke-dashoffset: 410;
                transition:
                    stroke 0.7s 0.4s ease-out,
                    stroke-dashoffset 0.4s ease-out;
            }

            .glightbox_video:hover .inner-circle {
                fill: #bf2428;
                transition: fill 0.4s 0.3s ease-out;
            }

            .glightbox_video:hover .play {
                fill: white;
                transition: fill 0.4s 0.3s ease-out;
            }
        }
    }
}

#gt-6978{
    margin-top: 80px;
    .thong-tin{
        padding: 30px 0;
        &_title{
            color: var(--color-red);
            font-weight: 600;
            font-family: "roboto";
            font-size: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #ccc;
        }
        &_des{
            font-family: "roboto";
            margin-top: 30px;
            font-size: 16px;
            line-height: 1.5;
            color: #2c2a2a;
            p:nth-child(1) {
                margin-bottom: 20px;
              }
        }
        &_btn {
            margin-top: 50px;
            color: #f8f8f8;
            font-weight: 600;
            padding: 12px 20px;
            background-color: #c71313;
            border-radius: 10px;
            width: fit-content;
            text-transform: uppercase;
            font-size: 16px;
            font-family: roboto;
            cursor: pointer;
        }
        // &_btn{
        //     font-family: "roboto";
        //     padding: 15px 20px;
        //     font-weight: 600;
        //     background-color: var(--color-red);
        //     color: white;
        //     width: fit-content;
        //     text-transform: uppercase;
        //     margin-top: 40px;
        //     border-radius: 5px;
        //     cursor: pointer;
        // }
    }
    .thuonghieu{
        img{
            width: 100%;
        }
        p{
            color: var(--color-red);
            text-align: center;
            font-weight: 600;
            line-height: 1.3;
            font-family: "roboto";
        }
    }
}

#tk-5234{
    margin-top: 100px;
    height: 200px;
    width: 100%;
    position: relative;
    .bg-tk{
        background-image: url("../assets/banner-bg/banner-thong-ke.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.802);
    }
    .thong-ke{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: "roboto";
        font-weight: 600;
       
        p:nth-child(1){
            color: var(--color-orange);
            font-size: 26px;
            text-align: center;
        }
        p:nth-child(2){
            color: white;
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
        }
    }
}

.bando{
    margin: 100px 0;
}
